@CHARSET "UTF-8";
body {
	margin:0;
	padding:0;
	background:#e0e0e0;
	overflow:hidden;
	font: 16px "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
}
div {position:absolute;}
#body {
	left:0;
	right:0;
	top:0;
	bottom:0;
	overflow:hidden;
	background:#e0e0e0;
}
#display1 {
	left:10px;
	top:10px;
	width:300px;
	height:100px;
}
#display2 {
	left:10px;
	top:120px;
	width:100px;
	height:33px;
}
#display3 {
	left:320px;
	top:10px;
	width:300px;
	height:100px;
	background:black;
}
#display4 {
	left:320px;
	top:120px;
	width:100px;
	height:33px;
	background:black;
}
#clock {
	left:10px;
	top:200px;
	width:200px;
	height:50px;
	background:black;
}
.clock {
	top:0px;
	width:70px;
	height:50px;
}
#clock1 {left:0}
#clock2 {left:80px}
#clock3 {
	left:150px;
	bottom:1px;
	width:50px;
	height:35px;
}
.clock_s {
	width:6px;
	height:6px;
	margin:-3px;
	border-radius:3px;
	background:lime;
}
#clock_s1 {
	left:77px;
	top:20%;
}
#clock_s2 {
	left:73px;
	bottom:20%;
}
