@CHARSET "UTF-8";
body {
  margin:0;
  padding:0;
  background:#e0e0e0;
}
.display {
  position:absolute;
  left:10px;
}
#display1 {
  top:10px;
  width:75px;
  height:100px;
}
#display2 {
  top:120px;
  width:120px;
  height:80px;
}
#display3 {
  top:210px;
  width:145px;
  height:65px;
}
#display4 {
  top:284px;
  width:150px;
  height:50px;
}
#display5 {
  top:344px;
  width:150px;
  height:40px;
}

