@CHARSET "UTF-8";
body {
  margin:0;
  padding:0;
  background:#e0e0e0;
}
div {position:absolute;}
div>div {
  left:5px;
  top:5px;
}
.col1 {left: 10px;}
.col2 {left: 300px;}
.row1 {top: 10px;}
.row2 {top: 130px;}
.row3 {top: 250px;}
.display {
  width:200px;
  height:70px;
}
.bor1 {
  width:210px;
  height:80px;
}
.bor2 {
  width:220px;
  height:90px;
}
.silver {background:silver;}
.black {background:black;}
.col1.row1, .col1.row2 {
  border: 4px ridge gray;
  box-shadow:4px 4px 6px 2px rgba(0,0,0,0.7);
  -moz-box-shadow:4px 4px 6px 2px rgba(0,0,0,0.7);
  -webkit-box-shadow:4px 4px 6px 2px rgba(0,0,0,0.7);
}
.col1.row3, .col2.row1 {
  border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  -webkit-border-radius:10px;
  box-shadow:inset rgba(0,0,0,0.3) 2px 2px 2px, rgba(0,0,0,0.3) -2px -2px 2px, 2px 2px 2px white;
  -moz-box-shadow:inset rgba(0,0,0,0.3) 2px 2px 2px, rgba(0,0,0,0.3) -2px -2px 2px, 2px 2px 2px white;
  -webkit-box-shadow:inset rgba(0,0,0,0.3) 2px 2px 2px, rgba(0,0,0,0.3) -2px -2px 2px, 2px 2px 2px white;
}
.col2.row2, .col2.row3 {
  border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  -webkit-border-radius:10px;
  box-shadow:inset rgba(255,255,255,0.7) 2px 2px 2px, inset rgba(0,0,0,0.3) -2px -2px 2px,
      4px 4px 6px 2px rgba(0,0,0,0.7);
  -moz-box-shadow:inset rgba(255,255,255,0.7) 2px 2px 2px, inset rgba(0,0,0,0.3) -2px -2px 2px,
      4px 4px 6px 2px rgba(0,0,0,0.7);
  -webkit-box-shadow:inset rgba(255,255,255,0.7) 2px 2px 2px, inset rgba(0,0,0,0.3) -2px -2px 2px,
      4px 4px 6px 2px rgba(0,0,0,0.7);
}
.col2.row2>div, .col2.row3>div {
  border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -webkit-border-radius:5px;
  box-shadow:inset rgba(0,0,0,0.3) 2px 2px 2px, 2px 2px 2px rgba(255,255,255,0.7);
  -moz-box-shadow:inset rgba(0,0,0,0.3) 2px 2px 2px, 2px 2px 2px rgba(255,255,255,0.7);
  -webkit-box-shadow:inset rgba(0,0,0,0.3) 2px 2px 2px, 2px 2px 2px rgba(255,255,255,0.7);
}
